<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Chat App: Pirate Edition</title>
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }} type="text/css" />
        <link rel="shortcut icon" href="https://img.icons8.com/cute-clipart/64/000000/chat.png">
        <link rel="apple-touch-icon" href="https://img.icons8.com/cute-clipart/64/000000/chat.png">
        <link rel="icon" sizes="192x192" href="https://img.icons8.com/cute-clipart/64/000000/chat.png">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>
