.list {
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: -35px;
    overflow-wrap: break-word;
}

.profilePic {
    height: 40px;
    width: 40px;
}

.images {
    height: 200px;
    width: 250px;
}
