.topContainer {
    background: #eee; 
    border-bottom: 4px solid #ccc;
}

.outerContainer {
    border: 4px solid #ccc;
    border-radius: 5px;
    height: 85vh;
    width: 55vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    background: #eee;
    overflow-y: auto;
    padding: 4px;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
